/*
* 全局css
*/
@import url('./variable.less');

html,
body {
    padding: 0;
    margin: 0;
}

#__nuxt,
#__layout {
    height: 100%;
    font-size: 14px;
}
//顶部进度条颜色
#nprogress .bar {
    background: @themeColor !important;
}

//高亮颜色
.highlight-text {
    color: red !important;
}